@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
  --font-mono: var(--font-jetbrains);

  --font-syne: var(--font-syne);
  --font-outfit: var(--font-outfit);
  --font-fraunces: var(--font-fraunces);
}

:root {
  --background: #050505;
  --foreground: #ffffff;

  --rose-orange: #FF7F50;
  --rose-orange-glow: #FF4500;
  --void-black: #050505;
}

body {
  background: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}